[submodule "vendor/winit"]
	path = rust/vendor/winit
	url = git@github.com:rust-windowing/winit.git
[submodule "vendor/softbuffer"]
	path = rust/vendor/softbuffer
	url = git@github.com:rust-windowing/softbuffer.git
